{% extends '/layout.html' %}

{% block page_title %}
    Add Author
{% endblock %}

{% block page_contents %}
    <main class="container">
        <h1 class="text-center">Books</h1>
        <div class="mb-4">
            <form action="/add_author" method="POST">
                <label class="form-label" for="name">Author Name:</label>
                <input class="form-control" type="text" id="name" name="name" required><br><br>
                <label class="form-label" for="birthdate">Birthdate:</label>
                <input class="form-control" type="date" id="birthdate" name="birthdate" required><br><br>
                <label class="form-label" for="date_of_death">Date of Death:</label>
                <input class="form-control" type="date" id="date_of_death" name="date_of_death"><br><br>
                <input class="w-100 mt-5 btn btn-danger" type="submit" value="Add Author">
            </form>
        </div>
        {% if author_name %}
        <h3 class="my-2 p-2 text-center text-bg-success">{{ author_name }} is now included as author!</h3>
        {% endif %}
    </main>
{% endblock %}